*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout{
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
}

.genero{
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}

textarea{
    resize: none;
}